@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Serif&display=swap');

@layer base {
  body {
    font-family: 'IBM Plex Sans', sans-serif;
    @apply m-0 scrollbar-hide;
  }
}

@layer components {
  .input_field {
    @apply bg-[#e6e6e6] w-full rounded-sm py-1 px-2 text-black text-sm outline-none mt-2;
  }

  .sign_btn {
    @apply text-sm font-semibold text-white bg-gradient-to-r from-[#ff0066] to-[#ff4d94] py-0.5 px-2 mx-auto mt-5 rounded-sm hover:from-[#ff4d94] hover:to-[#ff0066];
  }

  .form_error {
    @apply text-xs text-red-600 px-2;
  }

  .loader {
    @apply -mt-[20px];
  }

  .dropdown_effect {
    @apply hover:border-l-2 border-purple-500 transition-all duration-100 cursor-pointer hover:pl-1;
  }

  .ddItem {
    @apply text-[#595959] hover:text-black;
  }
}
